
.AuthPage {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    background-color: transparent;
    border-radius: 2vmin;

    margin: 5rem auto;
    margin-left: 35rem;
    margin-right: 35rem;
   
  }
  
  .AuthPage h3 {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    color: rgb(181, 27, 27);
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px black);
    
  }

  .links {
    margin-top: -2rem;
    color: rgb(181, 27, 27);
  }