.OrderListItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vmin;
    padding: 2vmin;
    color: black;
    background-color: rgb(163, 56, 56);
    border: .2vmin solid black;
    border-radius: 1vmin;
    font-size: 3vmin;
    font-weight: bold;
    cursor: pointer;
    }
    
    .OrderListItem > div> div:first-child {
    margin-bottom: .5vmin;
    }
    
    .OrderListItem.selected {
    border-color: var(--white);
    border-width: .2vmin;
    cursor: default;
    }
    
    .OrderListItem:not(.selected):hover {
    border-color: var(--white);
    border-width: .2vmin;
    
    
    }