.Logo {
    height: 22vmin;
    width: 22vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-image: url('https://media.tenor.com/SI8_LVMnpA4AAAAj/halloween-cauldron.gifng.net/th?id=OIP.Xk8GPqrFQ5O__8mBBhFq5gHaH4&pid=Api&P=0&h=220');
    background-size: 100% 100%;
    color: #111;
    font-size: 4vmin;
    font-weight: 700;
    margin-top: 3vmin;
    filter: drop-shadow(0px 4px 4px black);
    
    }
    .title {
        margin-top: 85px;
    }
