.CategoryList {
    color: var(--white);
    list-style: none;
    padding: 0;
    font-size: 2vw;
    }
    
    .CategoryList li {
    padding: .6vmin;
    text-align: center;
    border-radius: .5vmin;
    margin-bottom: .5vmin;
    font-weight: 700;
    }
    
    .CategoryList li:hover:not(.active) {
    cursor: pointer;
    background-color: #111;
    border: 0.1vmin solid var(--tan-2);;
    color: var(--white);
    }
    
    .CategoryList li.active {
    color: var(--text-dark);
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
    }