@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:wght@200;300;400;600;700&family=Roboto:wght@300&display=swap');



:root {
    --white: #FFFFFF;
    --tan-1: #FBF9F6;
    --tan-2: #E7E2DD;
    --tan-3: #E2D9D1;
    --tan-4: #D3C1AE;
    --orange: #F67F00;
    --text-light: #968c84;
    --text-dark: #615954;
  
  }
  
  *, *:before, *:after {
    box-sizing: border-box;
  }

  
  body {
    margin: 0;
    font-family: 'Amatic SC',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: 
    url('https://wallpapercave.com/wp/wp8348926.jpg');
    background-size: 100% 100%;

  }

  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  #root {
    height: 100%;
  }
  
  .align-ctr {
    text-align: center;
  }
  
  .align-rt {
    text-align: right;
  }
  
  .smaller {
    font-size: smaller;
  }
  
  .flex-ctr-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .flex-j-end {
    justify-content: flex-end;
  }
  
  
  .section-heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--tan-1);
    color: var(--text-dark);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
    padding: .6vmin;
    text-align: center;
    font-size: 2vmin;
  }
  
  .form-container {
    padding: 3vmin;
    background-color: rgb(8, 221, 8);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
    margin-top: 1rem;
  }
  
  p.error-message {
    color: var(--orange);
    text-align: center;
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.25vmin;
    color: var(--text-light);
  }
  
  label {
    font-size: 2vmin;
    display: flex;
    align-items: center;
  }
  //The input for the form
  input {
    padding: 1vmin;
    font-size: 3vmin;
    font-family: 'Amatic SC',
    sans-serif;
    border: .1vmin solid var(--tan-3);
    border-radius: .5vmin;
    color: var(--text-dark);
    background-image: none !important; /* prevent lastpass */
    outline: none;
  }
  
  input:focus {
    border-color: var(--orange);
  }
  
  button, a.button {
    font-family: 'Amatic SC',
    sans-serif;
    margin: 1vmin;
    padding: 1vmin;
    color: var(--white);
    background-color: rgb(115, 40, 136);
    font-size: 2.5vmin;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border: .1vmin solid var(--tan-2);
    border-radius: .5vmin;
    outline: none;
    cursor: pointer;
  }
  
  button.btn-sm {
    font-size: 1.5vmin;
    padding: .6vmin .8vmin;
  }
  
  button.btn-xs {
    font-size: 1vmin;
    padding: .4vmin .5vmin;
  }
  
  button:disabled, form:invalid button[type="submit"] {
    cursor: not-allowed;
    background-color: rgb(113, 116, 114);
    font-family: 'Amatic SC',
    sans-serif;
    font-size: 2.5vmin;
  }
  
  button[type="submit"] {
    grid-column: span 2;
    margin: 1vmin 0 0;
  }
  
  //Theme
  .checkbox {
    opacity: 0%;
  }
  //Theme label
  .theme-icon{
    color: white;
  }
  .theme-icon:hover {
    cursor: pointer;
  }
#theme1 {
  background-image: url('https://fthmb.tqn.com/1bd4rr3By8eKgdao17VI8JbBKAU=/3424x4957/filters:fill(auto,1)/beakers-with-smoking-liquid-97615426-59f720ee519de2001128ce34.jpg');
  background-size: cover;
  }
  #theme2 {
    background-image: 
    url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3fc0f3d5-6138-4b4c-bf96-985d8010c8c2/d962aqm-6b201a52-ab4d-4662-b6e2-7e5041538e6a.png/v1/fill/w_1192,h_670,q_75,strp/skyrim_potions_2nd_set___tes_5_by_etrelley-d962aqm.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl0sIm9iaiI6W1t7InBhdGgiOiIvZi8zZmMwZjNkNS02MTM4LTRiNGMtYmY5Ni05ODVkODAxMGM4YzIvZDk2MmFxbS02YjIwMWE1Mi1hYjRkLTQ2NjItYjZlMi03ZTUwNDE1MzhlNmEucG5nIiwid2lkdGgiOiI8PTExOTIiLCJoZWlnaHQiOiI8PTY3MCJ9XV19.DFyBTiAYI7xcx7uSdLqjpn3AxVi9UGCLlux1mPtpCeA');
    background-size: 100% 100%;


  }

