@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:wght@200;300;400;600;700&family=Roboto:wght@300&display=swap');



:root {
    --white: #FFFFFF;
    --tan-1: #FBF9F6;
    --tan-2: #E7E2DD;
    --tan-3: #E2D9D1;
    --tan-4: #D3C1AE;
    --orange: #F67F00;
    --text-light: #968c84;
    --text-dark: #615954;
  
  }

 
  
  *, *:before, *:after {
    box-sizing: border-box;
   
  }

  
  body {
    margin: 0;
    font-family: 'Amatic SC',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    

  }

  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  #root {
    height: 100%;
  }
  
  .align-ctr {
    text-align: center;
  }
  
  .align-rt {
    text-align: right;
  }
  
  .smaller {
    font-size: smaller;
  }
  
  .flex-ctr-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .flex-j-end {
    justify-content: flex-end;
  }
  
  
  .section-heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--tan-1);
    color: var(--text-dark);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
    padding: .6vmin;
    text-align: center;
    font-size: 2vmin;
  }
  
  .form-container {
    padding: 3vmin;
    background-color: rgba(
        51,
        51,
        51,
        0.8
      ); 
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
    margin-top: 1rem;
  }
  
  p.error-message {
    color: var(--orange);
    text-align: center;
  }
  
  form {
   display: flex;
   justify-content: center;
   align-items: center;
    flex-direction: column;

    input {
      width: 30vw;
      height: 3vw;
     
    }
  }
  
  label {
    font-size: 2vmin;
    display: flex;
    align-items: center;
  }
  //The input for the form
  input {
    padding: 1vmin;
    font-size: 3vmin;
    font-family: 'Amatic SC',
    sans-serif;
    border: .1vmin solid var(--tan-3);
    border-radius: .5vmin;
    color: var(--text-dark);
    background-image: none !important; /* prevent lastpass */
    outline: none;
  }
  
  input:focus {
    border-color: var(--orange);
  }
  
  button, a.button {
    font-family: 'Amatic SC',
    sans-serif;
    margin: 1vmin;
    padding: 1vmin;
    color: var(--white);
    background-color: #111;
    font-size: 2.5vmin;
    font-weight: bold;
    width: 10vw;
    text-decoration: none;
    text-align: center;
    border: .1vmin solid var(--tan-2);
    border-radius: .5vmin;
    outline: none;
    cursor: pointer;
  }
  
  button.btn-sm {
    font-size: 1.5vmin;
    padding: .6vmin .8vmin;
  }
  
  button.btn-xs {
    font-size: 1rem;
    padding: .4vmin .5vmin;
    font-weight: 900;
    
  }
  
  button:disabled, form:invalid button[type="submit"] {
    cursor: not-allowed;
    background-color: rgb(113, 116, 114);
    font-family: 'Amatic SC',
    sans-serif;
    font-size: 2.5vmin;
  }
  
  button[type="submit"] {
    grid-column: span 2;
    margin: 1vmin 0 0;
  }
  
  //Theme
  .checkbox {
    opacity: 0%;
  }
  //Theme label
  .theme-icon{
    color: white;
    font-weight: bold;

    display: flex;
    justify-content: flex-end;
  }
  .theme-icon:hover {
    cursor: pointer;
  }
#theme1 {
  background-image: url('https://wallpapercave.com/wp/wp8349011.jpg');
  background-size: cover;
  overflow: hidden;
.nav {
  color: rgb(181, 27, 27);
}
  
  }
  #theme2 {
    background-image: 
    url('https://www.lifewire.com/thmb/HnbtENcI8cE0Xt00TxZS2OyK_b8=/1920x1200/filters:no_upscale():max_bytes(150000):strip_icc()/wallcoo-witches-halloween-wallpaper-57ee8bfd5f9b586c353f2c79.jpg');
    background-size: cover;
    overflow: hidden;

   
   
        
      
    }
    


  

  //To About Page
  .toAboutPage{
    color: var(--white);
    text-decoration: none;
    font-size: 3vmin;
    font-weight: bold;
  }

  .toAboutPage:hover {
    cursor: pointer;
  }
  .aboutusinfo{
    color: var(--white);
    font-size: 5vmin;
    font-weight: bold;
  }
  .toneworderspage{
    color: var(--white);
        text-decoration: none;
        font-size: 3vmin;
        font-weight: bold;
        margin-left: 9.5vmin;
  
}
.aboutLogo {
  margin-left: 3vmin;
}