.LineItem {
    width: 100%;
    display: grid;
    grid-template-columns: 3vw 15.35vw 5.75vw 5.25vw;
    padding: 1vmin 0;
    color: black;
    background-color: rgb(153, 82, 82);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
    font-size: 3vmin;
    font-weight: bold;
    }
    
    .LineItem:last-child {
    border-bottom: .1vmin solid var(--tan-3);
    }
    
    .LineItem .qty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    color: #fff;
    gap: 1rem;
    }
    
    .LineItem .extPrice {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 3vmin;
    }
    
    .LineItem button {
    margin: 0;
    }